body{
  font-family: Fira Sans;
  margin: 0;
  padding: 0;
}
/*Icon Navbar*/
@media (max-width: 968px) {
  .icon {
    display: none;
  }
}

.company-services {
  padding: 90px 0px;
}
.btn-right {
  font-size: 20px;
  background-color: Transparent;
  background-repeat: no-repeat;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.product-store .swiper-slide .layout {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-store .row .price {
  color: #72aec8;
}
.product-store .swiper-pagination {
  margin-top: 60px;
  position: relative;
}
.product-store .swiper-pagination .swiper-pagination-bullet {
  background-color: #343a40;
  width: 15px;
  height: 15px;
}
.product-store .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #343a40;
}
.latest-post {
  padding: 98px 0px;
}
.latest-post .blog .post-text a {
  font-size: 23px;
  color: #232529;
}
.testimonials .quote{
  font-size: 128px;
  color: #72aec8;
}
.testimonials .quote-text{
  font-size: 30px;
  font-weight: 200;
}
.testimonials .card{
  border: none;
  box-shadow: none;
}
.testimonials .card .card-body .rating{
  font-size: 15px;
  color: #72aec8;
}
.testimonials .card .card-body .author-name{
  font-size: 15px;
  font-weight: bold;
}
.subscribe .container{
  background-color: #232529;
  padding: 30px 0px;
}

.subscribe input{
  font-size: 18px;
  border-radius: 0;
}
.subscribe button{
  font-size: 15px;
  background-color: #72aec8;
}
.instagram{
  padding: 98px 0px;
}