body {
  font-family: Fira Sans;
  margin: 0;
  padding: 0;
}
/*----------------- Navbar -----------------*/
@media (max-width: 968px) {
  .icon {
    display: none;
  }
}
.navbar a:hover {
  color: #72aec8;
}
.billboard {
  background-color: #eef1f3;
}
.billboard .container .banner-content {
  margin-top: 50px;
}
/*----------------- Company Services -----------------*/
.company-services {
  padding: 90px 0px;
}
.company-services i {
  color: #72aec8;
}
.btn-right a {
  background-color: Transparent;
  background-repeat: no-repeat;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-right: 60px;
}
/*----------------- Swiper js -----------------*/
.product-store .swiper-slide .layout {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-store .row .price {
  color: #72aec8;
}
.product-store .swiper-pagination {
  margin-top: 40px;
  position: relative;
}
.product-store .swiper-pagination .swiper-pagination-bullet {
  background-color: #343a40;
  width: 15px;
  height: 15px;
}
.product-store .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #343a40;
}
.product-slider a button {
  width: 80%;
  height: 50px;
}
.product-slider a {
  width: 100%;
  height: 100%;
  bottom: 0px;
  top: 35%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  font-weight: 200;
  color: white;
  transition: 0.8s;
  opacity: 0;
}
.product-slider a:hover {
  color: #72aec8;
  opacity: 1;
}
.product-slider button:hover {
  background-color: #72aec8;
}

/*----------------- Latest Post -----------------*/
.latest-post {
  padding: 98px 0px;
}
.latest-post .blog .post-text a {
  font-size: 23px;
  color: #232529;
}
/*----------------- Testimonials -----------------*/
.testimonials .quote {
  font-size: 128px;
  color: #72aec8;
}
.testimonials .quote-text {
  font-size: 30px;
  font-weight: 200;
}
.testimonials .card {
  border: none;
  box-shadow: none;
}
.testimonials .card .card-body .rating {
  font-size: 15px;
  color: #72aec8;
}
.testimonials .card .card-body .author-name {
  font-size: 15px;
  font-weight: bold;
}
/*----------------- Subcribe -----------------*/
.subscribe .container {
  background-color: black;
  padding: 56px 12px;
}
.subscribe {
  padding: 56px 0px;
}
.subscribe input {
  font-size: 18px;
  border-radius: 0;
}
.subscribe button {
  font-size: 14px;
  background-color: #72aec8;
}
.subscribe button:hover {
  font-size: 14px;
}
/*----------------- Instagram -----------------*/
.instagram {
  padding: 0px 0px 98px;
}
.instagram img {
  width: 250px;
}
.instagram figure a > i {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 50px;
  color: white;
  opacity: 0;
  transition: 0.8s;
}
.instagram figure a:hover > i {
  opacity: 0.8;
}

/*----------------- Footer -----------------*/
footer a i {
  font-size: 20px;
  color: #d7dddf;
}
footer a {
  color: #232529;
}
footer a:hover {
  color: #72aec8;
}
footer a i:hover {
  color: #72aec8;
}
/*----------------- Breadcrumb -----------------*/
#breadcrumb {
  padding: 56px 0px;
  background-color: #eef1f3;
}
.breadcrumb .bd-content {
  padding: 98px 12px 0px;
}
.breadcrumb .bd-content h1 {
  font-size: 70px;
  font-weight: 200;
}
.breadcrumb .breadcrumb-item a {
  color: #212529;
}
.breadcrumb .breadcrumb-item a:hover {
  color: #72aec8;
}
/*----------------- About Us -----------------*/
.about-us {
  padding: 0px 0px 98px;
}
.about-us .about-us-detail {
  padding: 0px 0px 0px 48px;
}
.about-us .about-us-detail a {
  font-size: 18px;
}

/*----------------- Blog Post -----------------*/
.blog-post {
  padding: 98px 0px;
}
.blog-post form .search-field {
  height: 40px;
  width: 100%;
}
.blog-post .search-icon {
  background-color: black;
  font-size: 25px;
  width: 20%;
  height: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.blog-post .search-icon i {
  font-size: 20px;
  color: black;
}
.blog-post .search-icon i:hover {
  color: #72aec8;
}
.blog-post .post-item a {
  font-size: 20px;
  color: #232529;
}
.blog-post .post-item a:hover {
  color: #72aec8;
}
.blog-post .list-group {
  font-size: 18px;
  list-style: none;
}
.blog-post .list-group li a {
  color: #212529;
}
.blog-post .list-group li a:hover {
  color: #72aec8;
}
.blog-post .recent-post a p {
  font-weight: 400;
  color: #212529;
  padding-right: 20px;
}
.blog-post .recent-post a p:hover {
  color: #72aec8;
}
.blog-post .recent-post .card-content a{
 text-transform: uppercase;
 font-size: 16px;
}
.navigation {
  padding: 56px 0px;
}
.navigation .page-numbers {
  font-size: 20px;
  color: #aeaeae;
}
.navigation .page-numbers:hover {
  color: #72aec8;
}

/*----------------- Shop Item -----------------*/
.shop-item {
  padding: 98px 0px;
}
.shop-item form .search-field {
  height: 40px;
  width: 100%;
}
.shop-item .search-icon {
  background-color: black;
  font-size: 25px;
  width: 20%;
  height: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.shop-item .search-icon i {
  font-size: 20px;
  color: black;
}
.shop-item .search-icon i:hover {
  color: #72aec8;
}
.shop-item .item .row .price {
  color: #72aec8;
}
.shop-item .item a button {
  width: 80%;
  height: 50px;
}
.shop-item .item a {
  width: 100%;
  height: 100%;
  bottom: 0px;
  top: 35%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  font-weight: 200;
  color: white;
  transition: 0.8s;
  opacity: 0;
}
.shop-item .item a:hover {
  color: #72aec8;
  opacity: 1;
}
.shop-item .item button:hover {
  background-color: #72aec8;
}
.shop-item .list-group {
  font-size: 18px;
  list-style: none;
}
.shop-item .list-group li a {
  color: #212529;
}
.shop-item .list-group li a:hover {
  color: #72aec8;
}
/*----------------- Cart -----------------*/
.cart {
  padding: 78px 0px;
}
.cart .cart-price {
  font-size: 20px;
  color: #72aec8;
}
.cart .subtotal-price {
  font-size: 30px;
  color: #72aec8;
}
.cart .btn-cart-total a {
  background-color: black;
}
.cart .btn-cart-total a:hover {
  background-color: #72aec8;
}
/*----------------- Billing Detail -----------------*/
.billing-detail {
  padding: 78px 0px;
}

.billing-detail .place-on-order a {
  background-color: black;
}
.billing-detail .place-on-order a:hover {
  background-color: #72aec8;
}
/*----------------- Single Post -----------------*/
.single-post {
  padding: 98px 0px;
}
.single-post p {
  font-size: 18px;
  color: #aeaeae;
}
.post-bottom-link i {
  font-size: 20px;
  color: #d7dddf;
}
.post-bottom-link a {
  color: #232529;
}
.post-bottom-link a:hover {
  color: #72aec8;
}
.post-bottom-link a i:hover {
  color: #72aec8;
}
.pagination-comment a {
  text-transform: uppercase;
  font-size: 20px;
  color: black;
}
.pagination-comment a:hover {
  color: #72aec8;
}
.single-post .comment .comments-reply a {
  color: #72aec8;
  text-decoration: underline;
}
.single-post .comment .comments-reply a:hover {
  color: #72aec8;
  text-decoration: none;
}
.single-post .comment .label-body {
  font-size: 14px;
}
.single-post .comment .btn-comment .btn{
  background-color: black;
}
/*----------------- Singel Product -----------------*/
.singel-product{
  padding-top: 168px;
}
.singel-product .product-price{
  color: #72aec8;
}
.singel-product .color-options a{
  color: black;
}
.singel-product .color-options a:hover{
  color: #72aec8;
}
.singel-product .swatch ul li a{
  color: black;
}
.singel-product .swatch ul li a:hover{
  color: #72aec8;
}
.singel-product .btn-buy-addtocart .btn-buy{
  background-color: #72aec8;
}
.singel-product .btn-buy-addtocart .btn-buy:hover{
  background-color: black;
}
.singel-product .btn-buy-addtocart .btn-add{
  background-color: black;
}
.singel-product .btn-buy-addtocart .btn-add:hover{
  background-color: #72aec8;
}
.singel-product h4{
  font-size: 16px;
}
.singel-product .meta-product a{
  color: black;
}
.singel-product .meta-product a:hover{
  color: #72aec8;
}
.product-info-tabs {
  padding: 98px 0px;
}
.product-info-tabs .image-holder{
  width: 70px;
  height: 70px;
}
.product-info-tabs .tabs-listing button{
  font-size: 26px;
}
.product-info-tabs .tabs-listing .nav .active{
  color: #72aec8;
  background-color: white;
}
/*----------------- Contact -----------------*/
.contact-us{
  padding: 78px 0px;
}
.contact-us .btn-submit .btn{
  background-color: black;
}
.contact-us .contact-info a{
  color: black;
}
.contact-us .contact-info a:hover{
  color: #72aec8;
}
.our-store{
  padding-bottom: 56px;
}
.our-store .contact-info a{
  color: black;
}
.our-store .contact-info a:hover{
  color: #72aec8;
}