/*Icon Navbar*/
@media (max-width: 968px) {
  .icon {
    display: none;
  }
}

#company-services {
  padding: 90px 0px;
}
.btn-right {
  font-size: 20px;
  background-color: Transparent;
  background-repeat: no-repeat;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.product-store .swiper-pagination {
  margin-top: 60px;
  position: relative;
}
.product-store .swiper-pagination .swiper-pagination-bullet {
  background-color: #343a40;
  width: 15px;
  height: 15px;
}
.product-store .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #343a40;
}
.latest-post{
  padding: 98px 0px;
}
.latest-post .blog .post-text a{
  font-size: 23px;
  color: #232529;
}